Pillow
boto3
django
django-admin-sortable2
django-appconf
django-cors-headers
django-environ
django-extensions
django-fsm
django-fsm-admin
django-fsm-log
django-heroku
django-model-utils
django-oso
django-storages
django-stubs
djangorestframework
djangorestframework-simplejwt
djangorestframework-stubs
googletrans
gunicorn
openfoodfacts
pint
pyyaml==6.0
recurrent
requests
rollbar
uritemplate
