Pillow
boto3
dj-database-url
django
django-admin-sortable2
django-appconf
django-cors-headers
django-environ
django-extensions
django-fsm
django-fsm-admin2
django-fsm-log
django-model-utils
django-oso
django-storages
djangorestframework
djangorestframework-simplejwt
djangorestframework-stubs
googletrans
gunicorn
minestrone
openfoodfacts
pint
psycopg2
pyyaml
recurrent
requests
requests
rollbar
uritemplate
