-c requirements.txt
black
commitizen
django-browser-reload
django-debug-toolbar
django-stubs
django-stubs
djangorestframework-stubs
icecream
packaging
pip-chill
pip-tools
pre-commit
pytest
pytest-clarity
pytest-django
pytest-picked
validate-pyproject[all]
