gunicorn
django
django-admin-sortable2
django-appconf
django-cors-headers
django-fsm
django-fsm-admin
django-fsm-log
django-heroku
django-oso
djangorestframework
djangorestframework-simplejwt
googletrans
rollbar
openfoodfacts
recurrent
pre-commit
pytest-django
django-extensions
django-model-utils
pyyaml
uritemplate
