
{% extends "base.html" %}
{% load static %}
{% block content %}

  <p>
    <a class="btn btn-light" href="{% url 'recipes_recipe_list' %}">
      recipe Listing
    </a>
  </p>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.errors}}
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="name">name: </label>
      <input class="form-control col-sm-10" id="name" type="text" name="name" value="{{ object.name }}">
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="time">time: </label>
      <input class="form-control col-sm-10" id="time" type="text" name="time" value="{{ object.time }}">
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="description">description: </label>
      <input class="form-control col-sm-10" id="description" type="text" name="description" value="{{ object.description }}">
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="last_updated">last_updated: </label>
      <input class="form-control col-sm-10" id="last_updated" type="datetime-local" name="last_updated" value="{{ object.last_updated }}" disabled>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="link">link: </label>
      <input class="form-control col-sm-10" id="link" type="text" name="link" value="{{ object.link }}">
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="created">created: </label>
      <input class="form-control col-sm-10" id="created" type="datetime-local" name="created" value="{{ object.created }}" disabled>
    </div>
    <input type="submit" value="Save" class="btn btn-primary">
  </form>

{% endblock %}
