{% extends "base.html" %}

{% block content %}
    <div x-data="{ dragging: false, droppable: [], lastDraggedOver: null, lastOverPosition: null }">
        <h1>Tasks</h1>
        <div
            class="grid task-list"
            :class="{ 'dragging': dragging }"
        >
            {% for state, tasks in tasks_by_state.items %}
                <div
                    class="cell box task-group task-group-{{ state }}"
                    x-data="{ dragover: false }"
                    :class="{ 'drag-over': dragover, droppable: droppable.includes('{{ state }}') }"
                    x-on:dragover.prevent="{# fmt:off #}
                        if (dragging && droppable.includes('{{ state }}')) {
                            event.dataTransfer.dropEffect = 'move';
                            dragover = true;
                        }
                    {# fmt:on #}"
                    x-on:drop.prevent="{# fmt:off #}
                        if (dragging && droppable.includes('{{ state }}')) {
                            const taskId = event.dataTransfer.getData('text/plain');
                            const task = document.getElementById(taskId);
                            task.parentNode.removeChild(task);
                            const target = document.querySelector(`#${lastDraggedOver}`);
                            switch(lastOverPosition) {
                                case 'before':
                                    target.before(task);
                                    break;
                                case 'after':
                                    target.after(task);
                                    break;
                            }
                        }
                    {# fmt:on #}"
                    x-on:dragexit.prevent="dragover = false;"
                >
                    <h2>{{ state|capfirst }}</h2>
                    <ol>
                        {% for task in tasks %}
                            <li
                                id="task-{{ task.id }}"
                                class="task"
                                x-data="{ draggingItem: false }"
                                draggable="true"
                                x-on:dragend="{# fmt:off #}
                                    dragEnd(event);
                                    dragging = false;
                                    droppable = [];
                                {# fmt:on #}"
                                x-on:dragstart="{# fmt:off #}
                                    dragStart(event);
                                    dragging = true;

                                    droppable = {{ task.get_available_state_states|safe }};
                                {# fmt:on #}"
                                x-on:dragover="{# fmt:off #}
                                    const dragedOver = dragOver(event);
                                    lastDraggedOver = dragedOver.id;
                                    lastOverPosition = dragedOver.position || '';
                                    debug = event.offsetY;
                                {# fmt:on #}"
                                x-on:dragleave.self="dragLeave(event);"
                            >
                                <div>
                                    <div class="card">
                                        <header class="card-header">
                                            <p class="card-header-title">{{ task.title }}</p>
                                        </header>
                                        <footer class="card-footer">
                                            <a href="#edit" class="card-footer-item">Edit</a>
                                            {% for action in task.get_available_state_transitions %}
                                                <a href="{% url 'tasks:action' task.id action.name %}" class="card-footer-item">{{ action.name|capfirst }}</a>
                                            {% endfor %}
                                        </footer>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
