{% extends "base.html" %}

{% block content %}
  <div x-data="taskList">
    <h1>Tasks</h1>
    <div class="grid task-list" x-bind="container">
      {% for state, tasks in tasks_by_state.items %}
        <div class="cell box task-group task-group-{{ state }}" x-bind="taskGroup" data-state="{{ state }}">
          <h2>{{ state|capfirst }}</h2>
          <ol>
            {% for task in tasks %}
              <li
                id="task-{{ task.id }}"
                class="task"
                draggable="true"
                x-bind="task"
                data-state="{{ task.state }}"
                data-available-states="{{ task.get_available_state_states|join:',' }}"
              >
                <div>
                  <div class="card">
                    <header class="card-header">
                      <p class="card-header-title">{{ task.title }}</p>
                    </header>
                    <footer class="card-footer">
                      <a href="#edit" class="card-footer-item">Edit</a>
                      {% for action in task.get_available_state_transitions %}
                        <a href="{% url 'tasks:action' task.id action.name %}" class="card-footer-item">
                          {{ action.name|capfirst }}
                        </a>
                      {% endfor %}
                    </footer>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ol>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
