{% extends "base.html" %}

{% block content %}
  <script>
    document.addEventListener("alpine:init", () => {
      Alpine.data("taskList", () => ({
        dragging: false,
        state: "",
        droppable: [],
        lastDraggedOver: null,
        lastOverPosition: null,
        container: {
          [":class"]() {
            return { dragging: this.dragging };
          },
        },
        taskGroup: {
          ["x-data"]() {
            return { dragover: false };
          },
          [":class"]() {
            return {
              "drag-over": this.dragover,
              droppable: this.droppable.includes(this.$el.dataset.state),
              orderable: this.droppable.includes(this.$el.dataset.state) || this.state == this.$el.dataset.state,
            };
          },
          ["x-on:dragleave"]() {
            this.dragover = false;
          },
          ["x-on:dragover.prevent"]() {
            if (this.dragging && this.droppable.includes(this.$el.dataset.state)) {
              event.dataTransfer.dropEffect = "move";
              this.dragover = true;
            }
          },
          ["x-on:drop.prevent"]() {
            if (
              this.dragging &&
              (this.droppable.includes(this.$el.dataset.state) || this.$el.dataset.state === this.state)
            ) {
              const taskId = event.dataTransfer.getData("text/plain");
              const task = document.getElementById(taskId);
              task.parentNode.removeChild(task);
              const target = document.querySelector(`#${this.lastDraggedOver}`);
              switch (this.lastOverPosition) {
                case "before":
                  target.before(task);
                  break;
                case "after":
                  target.after(task);
                  break;
              }
            }
          },
        },
        task: {
          ["x-data"]() {
            return { draggingItem: false };
          },
          ["x-on:dragend"]() {
            window.dragEnd(event);
            this.dragging = false;
            this.droppable = [];
            this.state = "";
          },
          ["x-on:dragstart"]() {
            window.dragStart(event);
            this.dragging = true;
            this.state = this.$el.dataset.state;
            this.droppable = this.$el.dataset.availableStates.split(",");
          },
          ["x-on:dragover"]() {
            const dragedOver = window.dragOver(event);
            this.lastDraggedOver = dragedOver.id;
            this.lastOverPosition = dragedOver.position || "";
          },
          ["x-on:dragleave.self"]() {
            window.dragLeave(event);
          },
        },
      }));
    });
  </script>
  <div x-data="taskList">
    <h1>Tasks</h1>
    <div class="grid task-list" x-bind="container">
      {% for state, tasks in tasks_by_state.items %}
        <div class="cell box task-group task-group-{{ state }}" x-bind="taskGroup" data-state="{{ state }}">
          <h2>{{ state|capfirst }}</h2>
          <ol>
            {% for task in tasks %}
              <li
                id="task-{{ task.id }}"
                class="task"
                draggable="true"
                x-bind="task"
                data-state="{{ task.state }}"
                data-available-states="{{ task.get_available_state_states|join:',' }}"
              >
                <div>
                  <div class="card">
                    <header class="card-header">
                      <p class="card-header-title">{{ task.title }}</p>
                    </header>
                    <footer class="card-footer">
                      <a href="#edit" class="card-footer-item">Edit</a>
                      {% for action in task.get_available_state_transitions %}
                        <a href="{% url 'tasks:action' task.id action.name %}" class="card-footer-item">
                          {{ action.name|capfirst }}
                        </a>
                      {% endfor %}
                    </footer>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ol>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
