{% load static django_htmx i18n %}

<!DOCTYPE html>
<html data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block page_title %}is it bin day?{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/css/main.min.css' %}" />
    <noscript>
      <style>
        .js {
          display: none;
        }
      </style>
    </noscript>
    <script src="{% static 'js/main.min.js' %}" defer></script>
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% block body %}
      {% if messages %}
        <section>
          <div class="container">
            {% for message in messages %}
              <div class="notification">{{ message }}</li>
            {% endfor %}
          </div>
        </section>
      {% endif %}
      <header>
      </header>
      <main class="responsive">{% block content %}{% endblock %}</main>
      <footer class="footer">
        <small>&copy; is it bin day {% now "Y" %}</small>
      </footer>
    {% endblock %}
    {% django_htmx_script %}
  </body>
</html>
