.task-list {
  --move-height: 0;
  min-height: max(70vh, 20rem);
  min-width: 1040px !important;

  .cell.box {
    margin-bottom: 0;
  }

  h2 {
    font-size: 2rem;
    padding: 0;
    margin: 0;
  }

  .task-group {
    & > ol {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1em;
    }

    transition: background-color 0.2s;

    &.droppable {
      background-color: var(--positive);

      &.drag-over {
        background-color: var(--positive-hover);
      }
    }

    .task {
      transition: 0.2s all ease-in-out;
      &.dragging {
        opacity: 0;
        height: 0 !important;
      }

      & > * {
        &:before {
          content: "";
          height: 0;
          display: block;
          transition: height 0.1s ease-in-out;
        }
      }

      &.move-down {
        & > * {
          &:before {
            content: "";
            height: var(--move-height);
          }
        }
      }
      &.move-up {
        & + .task {
          & > * {
            &:before {
              content: "";
              height: var(--move-height);
            }
          }
        }
      }
    }
  }
}

.task {
  list-style: none;
}
