.task-list {
  min-height: max(70vh, 20rem);

  .cell.box {
    margin-bottom: 0;
  }

  h2 {
    font-size: 2rem;
    padding: 0;
    margin: 0;
  }

  .task-group {
    & > ol {
      list-style: none;
    }

    transition: background-color 0.2s;

    &.droppable {
      background-color: var(--positive);

      &.drag-over {
        background-color: var(--positive-hover);
      }
    }
  }
}
