
{% extends "base.html" %}
{% load static %}
{% block content %}

<p>
    <a class="btn btn-light" href="{% url 'books_book_list' %}">
    book Listing
    </a>
</p>

<table class="table">
    <tr><td>number_of_pages</td><td>{{ object.number_of_pages }}</td></tr>
    <tr><td>publish_date</td><td>{{ object.publish_date }}</td></tr>
    <tr><td>created</td><td>{{ object.created }}</td></tr>
    <tr><td>title</td><td>{{ object.title }}</td></tr>
    <tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
    <tr><td>isbn</td><td>{{ object.isbn }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}
